*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
  color: white;
    background-color:#0f1111;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("C:\Web Development\Amazon clone\amazon_logo.png");
   height: 50px;
   width: 100% ;
   background-size: cover;
}
